<head>
    <title>image classes</title>
    <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    table, th, td {
        border: 0.5px solid black;
      }
    </style>
</head>

<body>
    <h1 style="background-color: lightgreen;">Manage image classes | <a href="/">Home: AI image tools</a></h1>
    <div class="row" style="background-color: lightcyan;">
        <div class="column">
        <form action="/imggroups" method="post">
            <h2>Create a new image class <input type="submit" name="action" value="Create class +"></h2>
            <table><tr><th>new class name: </th><td><input type="text" name="groupn"></td></tr>
            <tr><th>class descriptions: </th><td><textarea name="desc" cols="50" rows="2"></textarea></td></tr></table>
        </form>
        <form action="/imggroups" method="post">
            <h2>Edit image class | <input type="submit" name="allclasses" value="See all image classes >>"></h2>
            Select/Enter an images class:
            <select name="groupd">
            {% for g,n in groups %}
            <option value="{{g}}">{{g}} ({{n}} images)</option>
            {% endfor %}
            </select><input type="text" name="groupt"><input type="submit" name="action" value="View class"><br>
            <table><tr><th>Actions</th><th>original</th><th>new</th></tr>
                <tr><th>rename class</th><td>{{gname}}<input type="hidden" name="gname" value="{{gname}}"></td><td><input type="text" name="groupn"></td></tr>
                <tr><th>change descriptions</th><td><textarea readonly cols="25" rows="5">{{desc}}</textarea></td><td><textarea name="desc" cols="25" rows="5">{{desc}}</textarea></td></tr></table>
            <input type="submit"  name="action" value="Remove class - ">
            <input type="submit"  name="action" value="Delete all images - ">
            <input type="submit" name="action" value="Confirm changes">
        </form>
        </div>
        <div class="column">
            {% if created == 0 %}
            <h2>The image class exists: Please use another name</h2>
            {% elif created == 1 %}
            <h2>The new class is created</h2>
            {% elif created == 2 %}
            <h2>The image class is updated</h2>
            {% elif ask %}
            <h2>Are you sure to {{action}}? The change is Not reversible.</h2>
            <form action="/imggroups" method="post">
                <input type="submit" name="Yes" value="Yes, please proceed">
                <input type="submit" name="No" value="Cancel">
                <input type="hidden" name="action" value="{{action}}">
                <input type="hidden" name="gname" value="{{gname}}">
            </form>
            {% else %}
            <form action="/imggroups" method="post">
               <h2>All image classes <input type="submit" name="action" value="Clear all classes - "></h2>
            </form>
            <table><tr><th>class name</th><th>descriptions</th></tr>
            {% for info in allclasses %}
            <tr><td>{{info[0]}}</td><td>{{info[1]}}</td></tr>
            {% endfor %}</table>
            {% endif %}
        </div>
    </div>
    
    