<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI image tools</title>
    <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    table, th, td {
      border: 0.5px solid black;
    }
    </style>
</head>

<body>
    <h1 style="background-color: lightskyblue;">Y-Detective AI image operation and detection tools | <a href="/sample">Clarifai sample app</a></h1>
    <div class="row">
    <div class="column" style="background-color: lightgoldenrodyellow;">
        <h2>Find a set of useful objects from an image</h2>
        <form action="/" method="post">
            <b>Upload an image to start: </b> <input type="file" name="imgcrop"><br>
            <b>Describe all objects to emphasize. If belonging to the same category, describe the category:</b> 
            e.g., human faces, id cards with photo and name, etc. <br>
            <textarea name="cropdesc" cols="80" rows="3"></textarea><br>
            <b>Roughtly how many objects to find in total? </b>
            <input type="radio" name="num" value="1">Single (1); 
            <input type="radio" name="num" value="s">2-4; 
            <input type="radio" name="num" value="m">5-10; 
            <input type="radio" name="num" value="l">> 10; <br>
            <input type="submit" value="Find objects">
        </form>
    </div>
    <div class="column" style="background-color: lightcyan;">
        <h2>Find an image matching your descriptions most closely</h2>
        <form action="/" method="post">
        Enter or select the class of image to find through: <br>
        <input type="text" name="groupt"> 
        <select name="groupd">
            {% for imgr in groups %}
            <option value="{{imgr[0]}}">{{imgr[0]}} ({{imgr[1]}} images)</option>
            {% endfor %}
        </select>
        <a href="/imggroups">View and edit image classes</a><br>
        Describe the image you are looking for: <br>
        <textarea name="imgdesc" cols="50" rows="5"></textarea><br>
        <input type="submit" value="Find image">
        </form>
    </div></div>
    <div class="row">
      <h2>Result and explanation</h2>
      <div class="column">
        {% if crops %}
        <img src="{{crops[0]}}" alt="annotated" width="400" height="300"> object detection preview
        {% elif findorig %}
        <img src="{{findorig[0]}}" alt="selection" width="400" height="300">
        Best matching image: {{findorig[0]}}<br>
        {% endif %}
      </div>
      <div class="column">
        AI explanations: <br>
        <textarea cols="75" rows="15">{{expl}}</textarea>
      </div>
    </div>
    <div class="row">
      <h2>More details</h2>
      {% if crops %}
        image components cropped from object detection: <br>
        {% for c in crops[1:] %}
        <img src="{{c}}" alt="cropped">
        {% endfor %}
      {% elif findorig %}
        all possible images overview: <br>
        <img src="{{findorig[-1]}}" alt="all"> <br>
        alternative matching images: <br>
        {% for am in findorig[1:-1] %}
        <img src="{am}" alt="alternative selection">{{am}} <br>
        {% endfor %}
      {% endif %}
    </div>
