<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI image tools</title>
    <style>
    * {
      box-sizing: border-box;
    }
    
    /* Create two equal columns that floats next to each other */
    .column {
      float: left;
      width: 50%;
      padding: 10px;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    table, th, td {
      border: 0.5px solid black;
    }
    </style>
</head>

<body>
    <h1 style="background-color: lightskyblue;">Y-Detective AI image operation and detection tools | <a href="/sample">Clarifai sample app</a></h1>
    <form action="/" method="post">
      <h2>Manage image classes <input type="submit" name="action" value="Clear all classes"></h2>
      Select or enter an existing class of images:
      <select name="groupd">
        {% for g,n in imggroups %}
        <option value="{{g}}">{{g}} ({{n}} images)</option>
        {% endfor %}
      </select><input type="text" name="groupt">
      <input type="submit"  name="action" value="Remove class">
      <input type="submit"  name="action" value="Delete all images"><br>
      Enter a new class name:
      <input type="text" name="groupn"> (e.g., suspect John Smith, unknown white car, etc.)
      <input type="submit" name="action" value="Create new class">
      <input type="submit" name="action" value="Rename existing class">
  </form>
    <div class="row">
    <div class="column" style="background-color: lightgoldenrodyellow;">
        <h2>Find a set of useful objects from an image</h2>
        <form action="/" method="post">
            <b>Upload an image to start: </b> <input type="file" name="imgcrop"><br>
            <b>Describe all objects to emphasize. If belonging to the same category, describe the category:</b> 
            e.g., human faces, id cards with photo and name, etc. <br>
            <textarea name="cropdesc" cols="80" rows="3"></textarea><br>
            <b>Roughtly how many objects to find in total? </b>
            <input type="radio" name="num" value="1">Single (1); 
            <input type="radio" name="num" value="s">2-4; 
            <input type="radio" name="num" value="m">5-10; 
            <input type="radio" name="num" value="l">> 10; <br>
            <input type="submit" value="Find objects">
        </form>
        <div class="row">
          <form action="/cropres" method="post" target="_blank">
            <input type="hidden" name="cropannot" value="{{cropannot}}">
            {% for res in crops %}
            <input type="hidden" name="crops{{res[1]}}" value="{{res[0]}}">
            {% endfor %}
            <h2>Result preview | <input type="submit" value="See full result in detail"></h2>
          </form> 
          <div class="column">
            Original image annotated: <br>
            <img src="{{cropannot}}" alt="annotated" width="280" height="220">
          </div>
          <div class="column">
            Explanations: <br>
            <textarea cols="35" rows="10">{{cropexpl}}</textarea>
          </div>
        </div>
    </div>
    <div class="column" style="background-color: lightcyan;">
        <h2>Find an image matching your descriptions most closely</h2>
        <form action="/imagelab" method="post">
        Enter or select the class of image to find through: <br>
        <input type="text" name="imggroup"> 
        <select name="group">
            {% for imgr in imggroups %}
            <option value="{{imgr[0]}}">{{imgr[0]}} ({{imgr[1]}} images)</option>
            {% endfor %}
        </select><br>
        Describe the image you are looking for: <br>
        <textarea name="imgdesc" cols="50" rows="5"></textarea><br>
        <input type="submit" value="Find image">
        </form>
        <h2>Result description and explanation</h2>
        Original images: <br>
        <img src="findorig" alt="Original"><br>
        Best match: <br>
        <img src="findres" alt="Result"> <br>
        Explanations: <br>
        <textarea cols="50" rows="10">{{findexpl}}</textarea>
    </div>
